#body{
	background-color: black;
	color: #ffffff;
	font-family: 'Permanent Marker', cursive;
}

.head-nav{
	color: white;
}

#home{
	height: 680px;
	width: 100%;
	justify-content: center;
	display: flex;
	text-align: center !important;
	position: relative;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	opacity: 0.75;
}

#about{
	background-color: #5D5D5D;
	color: white;
}

#footer{
	background-color: #171925;
	color: white;
}

.footer-content{
	float: right;
}

h2,h4{
	color: #fff700;
}

@media (min-width: 800px) and (max-width: 850px) {
            .navbar:not(.top-nav-collapse) {
                background: #1C2331!important;
            }
        }
.view,body,html{height:100%}.navbar{background-color:rgba(0,0,0,.2)}.page-footer,.top-nav-collapse{background-color:#1C2331}@media only screen and (max-width:768px){.navbar{background-color:#1C2331}}




.my_skills {
    background-color: rgb(192, 192, 192);
    width: 80%;
    border-radius: 15px;
}
      
.skill {
    background-color: #fff700;
    color: black;
    padding: 1%;
    text-align: right;
    font-size: 20px;
    border-radius: 15px;
}

.java {
    width: 60%;
}

.html{
	width: 70%;
}

.css{
	width: 50%;
}

.sql{
	width: 60%;
}

.js{
	width: 40%;
}

.skill_bottom{
	margin-bottom: 25px;
}
